<h1>本サイトの使い方</h1>

<p class="head-text">ご訪問いただきましてありがとうございます。本サイトは皆様の音楽ライフをより充実したものにする一助としてのご利用を想定しております。</p>

<p class="head-text">主な機能は以下となります。</p>

<h2 class="about_us-h2">1. コンサートレポートを書く</h2>
<p class="head-text">ご自身の行ったコンサート・ライブ・フェスの感想を書くことができます。</p>
<p class="head-text">SpotifyのAPI連携をしているので、曲名・アーティスト名の入力が、非常に簡単です。</p>
<p class="head-text">書いたコンサートレポートは、公開・及びX等SNSで共有することができます。</p>
<p class="head-text">また、非公開設定もできますので、ご自身の記録だけの用途としても使用可能です。</p>

<h2 class="about_us-h2">2. コンサートレポートを読む</h2>
<p class="head-text">他のユーザーの書いた公開レポートを読むができます。自分が行ったコンサートが、他人の視点だとどこを面白いと思ったのか、どこに興奮したのか、自分の席からは見えなかった演出、気づかなかった演者の行動など、様々な気づきがあるかもしれません。また、投稿者をフォローし、SNSアカウントを探すこともできますので、同じアーティストが好きなファン同士でつながることもできます。</p>

<h2 class="about_us-h2">3. コンサートレポートを探す</h2>
<p class="head-text">他のユーザーの鑑賞したコンサートや、好きなアーティストの過去のライブのレポートが検索可能です。過去のコンサートや、自分が行けなかったコンサートの様子を探せます。</p>

<h2 class="about_us-h2">4. ユーザー(投稿者)をフォローする</h2>
<p class="head-text">自分が好きになったレポートを書いた投稿者をフォローすることができます。ひょっとしたら、同じアーティストが好きな人だったり、音楽の趣味が合う人かもしれませんね。</p>
