<h1>音楽検索</h1>

<div id="artist-search-container">
  <label for="artist-search">アーティスト検索:</label>
  <input type="text" id="artist-search" placeholder="アーティスト名を入力">
  <div id="artist-suggestions"></div>
  <div id="selected-artist"></div>
</div>

<div id="track-search-container" style="display: none;">
  <label for="track-search">曲名検索:</label>
  <input type="text" id="track-search" placeholder="曲名を入力">
  <div id="track-suggestions"></div>
  <div id="selected-track"></div>
</div>

<div id="search-results"></div>
