p{
    color: #C5705D;
    width: 80%;
    margin: auto;
  }
  
h2{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #C5705D;
    width: 80%;
    margin: auto;
  }
  
li{
    color: #C5705D;
    width: 80%;
    margin: auto;
}