<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-menu">
      <%= link_to '利用規約', static_pages_terms_of_service_path %>
      <a href="#">プライバシーポリシー</a>
    </div>
    <p class="copyright">&copy; <%= Time.current.year %> Kimirepo All Rights Reserved.</p>
  </div>
</footer>